
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.not-found{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}


.heading{
    font-family: 'Pacifico', cursive;
    font-size: 65px;
}

body{
    background: linear-gradient(to left, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}


.btnAddTask{
    color: #4267B2;
}